---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC9bdc6a2d8af5573fc836c3fa2a7fcf34/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=345234523452&From=342342342342
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.003'
      Twilio-Request-Id:
      - RQ8ca488b503c444cb938d8be3c960965c
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20003, "detail": "Your AccountSid or AuthToken was incorrect.",
        "message": "Authentication Error - No credentials provided", "more_info":
        "https://www.twilio.com/docs/errors/20003", "status": 401}'
  recorded_at: Mon, 02 Nov 2015 20:26:52 GMT
recorded_with: VCR 2.9.3
